body {
    margin: 100px auto;
    text-align: center;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 320px;
    height: 240px;
    text-align: center;
    padding-top: 5px;
    display: inline-block;
}