video.webcam-live, .imageselector {
    width: 100%;
    height: 100%;
    position: relative;
}

.imageselector canvas, .imageselector input[type=file], img  {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.imageselector .upload-button {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
}

.imageselector .btn {
    position: relative;
    overflow: hidden;
}

.imageselector input[type=file] {
    opacity: 0;
    cursor: pointer;
}