<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
    <h4 class="modal-title">TOMA TU FOTO</h4>
</div>
<div class="modal-body">
    <div id="takePhoto" class="modal-container">
        <webcam></webcam>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button type="button" class="btn btn-orange" ng-click="select()">Aceptar</button>
        <button type="button" class="btn btn-orange" ng-click="close()">Cancelar</button>
    </div>
</div>
